<div class="title text-center card-title cover-container"><h1>Result</h1></div>

<div>
  <%=@answer%>
</div>

<div class="link btn btn-lg btn-secondary fw-bold border-white bg-white">
  <a><%= link_to "Play again", new_path %></a>
</div>
